<doctype html>
    <html>
            <head>
                   <link rel="stylesheet" href="/project8/css/style.css">         
                    <link rel="stylesheet" href="/project8/node_modules/bootstrap/dist/css/bootstrap.css">
            </head>
        <body>
        
        <h1> hello cubic</h1>
     
        <div id= 'person'>
            space for person to load;
        </div>
            
            <button id= 'submit' onclick ='loadperson()'>
                    load
            </button>
        
        <script type = 'text/javascript' src='../js/person.js'>
            </script>
        </body>
        
    
    </html>
    
    