<!doctype html>
<html>
    <head>
        <title>Project 4</title>
        <link rel = "stylesheet" href= '/project4/node_modules/bootstrap/dist/css/bootstrap.css'>
    </head>
    <body>
          <form name = 'form' method ='get'>
        <table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            
            <th>Label</th>
            <th>Form Element</th>
            
        </tr>
        <tr>
           <td>User Name</td>
           <td> <input type = 'Text'
                      name = 'username'
                      id = 'username' placeholder= 'enter username' value="sample">
            </td>
        <tr> 
            <td>Password</td>
           <td> <input type='password'
                  name='passowrd'
                  id='password' placeholder= 'enter password'>
           </td>
        </tr>
               <tr>
               <td>Gender</td>
               <td><input type = 'radio'
                          name = 'gender'
                          values ='male'> Male <br>
                   <input type = 'radio'
                          name = 'gender'
                          values ='female'> Female <br>
               <input type = 'radio'
                          name = 'gender'
                          values ='others'> other <br>
                   </td>
        </tr>
                   
        
        <tr>
                <td>Cars</td>
            <td>
               <input type = 'checkbox'
                          name = 'toyota'
                          values ='1'> toyota <br>
                <input type = 'checkbox'
                          name = 'bmw'
                          values ='2'> BMW <br>
                <input type = 'checkbox'
                       name = 'Honda'
                       values='3' >honda
            </td>
               </tr>
        <tr>
            <td> countries</td>
        <td>   <select name ='countries'>
            <option values =''> </option>
            <option vaules ='in'>india</option>
             <option vaules ='pk'>pakistan</option>
             <option vaules ='ch'>china</option>
             <option vaules ='usa'>usa</option>
             <option vaules ='jp'>japan</option>
             <option vaules ='nep'>nepal</option>
                                  
                                  </select>
            </td>
                                 
        
        
        
        </tr>
            </tbody>
              </table>
                <input type = 'submit' value = 'submit'>
               
        </form>
    
    </body>

</html>
